table {
  background-color: rgba(27, 28, 29, 0.85) !important;
  ::-webkit-scrollbar-thumb {
    background-color: blue;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: darkblue;
  }
  /* Firefox */
  * {
    scrollbar-color: blue transparent;
    scrollbar-width: thin;
  }

  ::-moz-scrollbar-thumb {
    background-color: blue;
    border-radius: 8px;
  }

  ::-moz-scrollbar-thumb:hover {
    background-color: darkblue;
  }

  /* IE and Legacy Edge */
  ::-ms-thumb {
    background-color: blue;
    border-radius: 8px;
  }

  ::-ms-thumb:hover {
    background-color: darkblue;
  }
}
