.searchContainer {
  margin-top: 27px;
  display: flex;
  align-items: center;
  align-content: center;

    display: flex;
    align-items: center;
    align-content: flex-start;
    
    align-items: center;
    justify-content: center;
  
}
