
//Color pallete

$sw-darkSideYellow: #e1b61d;
$sw-darkSideRed: #881a1b;
$sw-starshipRay: #e1de84;
$sw-skywalkerBlue: #3a9dd9;
$sw-galacticBlue: #001440;
$sw-lightsaberBlue: #2E67F8;
$sw-accentBlue: #173278;


.button {
    color: $sw-darkSideYellow !important;
    background-color: $sw-galacticBlue!important;
}

.field {
    color: $sw-darkSideYellow !important;
    background-color: $sw-galacticBlue!important;
}