@import './theme/sw-theme.module.scss';


.appContainer {
  display: flex;
  background-image: url('./assets/wallpaper/sw_wallpaper.jpg'); 
  background-size: cover; 
  background-position: center;
  height: 100vh;
  justify-content: center;
  color: $sw-darkSideYellow;
}


